@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?59761544');
  src: url('../font/fontello.eot?59761544#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?59761544') format('woff2'),
       url('../font/fontello.woff?59761544') format('woff'),
       url('../font/fontello.ttf?59761544') format('truetype'),
       url('../font/fontello.svg?59761544#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?59761544#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-menu:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-walk:before { content: '\e803'; } /* '' */
.icon-festival:before { content: '\e804'; } /* '' */
.icon-plan:before { content: '\e805'; } /* '' */
.icon-culture:before { content: '\e806'; } /* '' */
.icon-experience:before { content: '\e807'; } /* '' */
.icon-cycle:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e809'; } /* '' */
.icon-left-open-big:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-map:before { content: '\e80c'; } /* '' */
.icon-pic:before { content: '\e80d'; } /* '' */
.icon-photo:before { content: '\e80e'; } /* '' */
.icon-thumbs-up:before { content: '\e80f'; } /* '' */
.icon-bookmark:before { content: '\e810'; } /* '' */
.icon-star:before { content: '\e811'; } /* '' */
.icon-compass-1:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e813'; } /* '' */
.icon-star-empty:before { content: '\e814'; } /* '' */
.icon-tv:before { content: '\e815'; } /* '' */
.icon-reply:before { content: '\e816'; } /* '' */
.icon-food:before { content: '\e817'; } /* '' */
.icon-mypage:before { content: '\e818'; } /* '' */
.icon-calendar:before { content: '\e819'; } /* '' */
.icon-local:before { content: '\e81a'; } /* '' */
.icon-tip:before { content: '\e81b'; } /* '' */
.icon-ok-circle:before { content: '\e81c'; } /* '' */
.icon-floppy:before { content: '\e81d'; } /* '' */
.icon-plus:before { content: '\e81e'; } /* '' */
.icon-cancel-circle:before { content: '\e81f'; } /* '' */
.icon-info-circled:before { content: '\e820'; } /* '' */
.icon-home:before { content: '\e821'; } /* '' */
.icon-dot-3:before { content: '\e822'; } /* '' */
.icon-weather03:before { content: '\e823'; } /* '' */
.icon-weather05:before { content: '\e824'; } /* '' */
.icon-weather01:before { content: '\e825'; } /* '' */
.icon-weather04:before { content: '\e826'; } /* '' */
.icon-weather06:before { content: '\e827'; } /* '' */
.icon-weather07:before { content: '\e828'; } /* '' */
.icon-weather02:before { content: '\e829'; } /* '' */
.icon-weather08:before { content: '\e82a'; } /* '' */
.icon-down-dir:before { content: '\e82b'; } /* '' */
.icon-up-dir:before { content: '\e82c'; } /* '' */
.icon-plus-1:before { content: '\e82d'; } /* '' */
.icon-ico_43:before { content: '\e830'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */